---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
NamespaceIndentationKind: All
ColumnLimit: 0
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
IndentCaseLabels: true
