[submodule "core/vendor/SDL"]
	path = core/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "core/vendor/SDL_Image"]
	path = core/vendor/SDL_Image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "core/vendor/SDL_ttf"]
	path = core/vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
